body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #242424;
    font-family: "Montserrat", sans-serif;
  }
  
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
  }
  
  
  /* ---------- HEADER ---------- */
  .header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  
  .menu-icon {
    display: none;
  }
  
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #ffa4fa;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
  }
  
  .sidebar-list-item:hover {
    background-color: rgba(88, 31, 76, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #242424;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  
  
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(29, 29, 29, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }

  
  
  /* ---------- MEDIA QUERIES ---------- */
  
  /* Medium <= 992px */
  
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "header"
        "main";
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  
.recent-grid {
    margin-top: 3.5 rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 67% auto;
}

.card {
    background-color:#ffe8fe;
    border-radius: 5px ;
}

.card-header,
card-body {
    padding: 1rem;
}

.card-header {
    display: flex;
    color: #BF0E7E;
    justify-content: space-between;
    align-items: center;
}

.Box {
  text-align: right;
}

.button {
  background-color: #BF0E7E;
  border-radius: 7px;
  color: #ffffff;
  font-size: 1rem;
  padding: .5rem 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.wrapper {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}

.wrapper h2 {
  margin-top: 0;
  color: #333;
}

.wrapper .close{
  position:absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.wrapper .content {
  max-height: 30%;
  overflow: auto;
}

.container{
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 3px;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="Submit"] {
  background-color: #BF0E7E;
  color: #ffffff;
  padding: 15px 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

table {
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #ffbae6;
    border-bottom: 1px solid #ffbae6;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
}


